@font-face {
    font-family: 'UnibodyBold';
	src: url('fonts/Unibody8Pro-Bold.otf'),
		url('fonts/unibody8pro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/unibody8pro-bold-webfont.woff') format('woff'),
		url('fonts/unibody8pro-bold-webfont.ttf') format('truetype'),
		url('fonts/unibody8pro-bold-webfont.svg#UnibodyBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    width: 100%;
    margin: 0px;
    background-color: rgb(55,61,70);
    color: rgb(223,225,230);
}

a {
    color: rgb(223,225,230);
    text-decoration: none;
}

#corps {
    width: 100%;
    margin: auto;
}

/* Logo */
#logo {
    margin-top: 9%;
    text-align: center;
}

#logo h1 {
    font-family: 'UnibodyBold', Arial, sans-serif;
    font-size: 3em;
}

/* Presentation */
#presentation {
    padding-top: 0.5em;
    width: 35%;
    margin: auto;
    line-height: 2.2em;
    font-size: 1.1em;
}

#presentation p {
    text-align: justify;
}

/* Evenements/Serveurs */
#evenements #serveurs {
    margin-top: 3%;
    text-align: center;
}

#evenements ul, #serveurs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#evenements img, #serveurs img {
    display: inline-block;
    vertical-align: middle;
}

#evenements .event, #serveurs .serveur {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}
